.text-center {
    text-align: center;
}
.bg-red{
    background: red;
}
.mx-auto{
    margin: auto;
}

.button {
    padding: 20px;
    width: 60px;
    margin: 0 6px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
}

.flex{
    display: flex;
}
.flex-col {
    flex-direction: column;
}

.row {
    margin: 8px 0;
}

.items-center {
    align-items: center;
}

.row input {
    margin: 0;
    font-size: 22px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
}