<div class="btn">
    <button id="five" class="left-button">Five</button>
    <button id="six" class="right-button">Six</button>
  </div>
  <div class="btn1">
    <button id="seven" class="left-button">Seven</button>
  </div>
  
  <app-onboarding-tour *ngIf="showOnboarding"
    [showOnboarding]="showOnboarding"
    [currentPopupIndex]="currentPopupIndex"
    [handleIndex]="7"
    [previousPage]="'intro'"
    [numberOfStep]="3"
    (finish)="finishOnboarding()"
    (skip)="skipOnboarding()"
  ></app-onboarding-tour>
  